SUPABASE_DB_URL=postgresql://postgres:[PASSWORD]@db.[REF].supabase.co:5432/postgres
COHERE_API_KEY=your_key_here
SUPABASE_HOST=
SUPABASE_PORT=6543
SUPABASE_DB=postgres
SUPABASE_USER=
SUPABASE_PASSWORD=